<!DOCTYPE html>
<html>
  <head>
    <title><%= user.user_id %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= user.company_name %></h1>
    <p>Welcome to <%= user.name %></p>
  </body>
</html>
